<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sensortemperatura">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".pantallas.loginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pantallas.RegisterActivity"
            android:label="@string/title_activity_register"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantallas.MainTabbedActivity"
            android:label="@string/title_activity_main_tabbed"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".pantallas.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.AcercaDeActivity"
            android:label="@string/title_activity_acerca_de"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <intent-filter>
            <action android:name="com.example.sensortemperatura.pantallas.AcercaDeActivity" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>

        <service
            android:name=".Services.NotificacionesService"
            android:enabled="true"
            android:exported="true"></service>
    </application>

</manifest>
